@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 260px;
    margin: 0 5% 0 5%;
    background-color: #383838;
    background-image: url("img/1 (1).png");
}
::-moz-selection{
    background-color: rgba(82, 101, 26);
}
::selection{
    background-color: rgba(82, 101, 26);
}
a{
    text-decoration: none;
}
/*SHADOW*/
.textShadow{
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0), 0 0 0.5em rgba(255, 255, 255, 0.2), 0 0 0.2em rgba(255, 255, 255, 0);
}
/*not-copy-block*/
.copy-block{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.rov{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 100%;
    padding: 0;
    height: max-content;
}
.container-fluid{
    display: flex;
    flex-direction: row-reverse;
}
/*HEADER*/
.header{
    display: flex;
    /*height: 15vmin;*/
    justify-content: space-between;
    /*background-color: #a84c57;*/
    margin-bottom: 1vh;
}
.logotype{
    display: flex;
    align-items: center;
    height: 15vmin;
    z-index: 2;
}
.logotype img{
    height: 14vmin;
    min-width: 14vmin;
}
.text-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0 0 0 2vh;
}
.spot{
    position: relative;
    font-family: 'Assistant', sans-serif;
    font-size: 5vh;
    font-weight: bold;
    color: white;


}
.rp{
    position: relative;
    bottom: -2.51vh;
    right: 6.3vh;
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 5vh;
    color: #3880e5;
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
}
.menu{
    display: flex;
    width: auto;
    align-items: end;
}

.menu div{
    display: flex;
    align-items: center;
    margin: auto 0.5vh;
    color: white;
    font-family: 'Assistant', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
.navbar{
    padding-right: 0;
    padding-left: 0;
}
.navbar-toggler{
    height: 10vmin;
    width: 10vmin;
    border: none;
    padding: 0;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-toggler-icon{
    width: 6vmin;
    height: 6vmin;
}

/*basket*/
.basket{
    background-image: url("ico/basket.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 1.8rem;
    width: 1.8rem;
    position: relative;
}
.ptc{
    display: flex;
    background-color: #3880e5;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 100%;
    position: absolute;
    top: -0.17rem;
    right: -0.5rem;
    font-size: 0.5rem;
    justify-content: center;
}
/*MAIN*/
main{
    height: max-content;
    width: 100%;
    flex: 1 0 auto;
    margin: 0;
    padding: 0;
}
.container-xl{
    padding: 0;
    max-width: 100%;
}
.con-1{
    height: max-content;
    width: 100%;
}
.h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: auto;
}
.h2 h2{
    font-family: 'Assistant', sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
    color: white;
}
.h3{
    font-family: 'Assistant', sans-serif;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
    margin: 0;
}

.col-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.col-text p{
    color: #939393;
    line-height: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.btn-flex{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 0.8vw;
    margin-bottom: 1vw;
}
.btn-flex div{
    display: flex;
    align-items: center;
    /*background-color: indianred;*/
    height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    color: white;
    padding: 1.01rem;
}
.btn-1{
    background-color: #3880e5
}
.btn-1:hover{
    background-color: #2b63b3;
}
.btn-2{
    background-color: #294179
}
.btn-2:hover{
    background-color: #20335e;
}
.imgman2{
    /*width: 100%;*/
    background-image: url("img/mans2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vw;
}
.img-1{
    background-image: url("img/w1.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 22vw;
}
.img-2{
    background-image: url("img/w2.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 22vw;
}
.img-3{
    background-image: url("img/w3.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 22vw;
}
.text-padding{
    padding-left: 2rem;
}
/*SHOP*/
.card{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 0.3rem;
    margin: 0.5rem;
}
.list-group{
    width: 100%;
}
.list-group-item{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
.btn-ptc button{
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    font-size: 1.5rem;
    color: white;
}
.btn-ptc div{
    width: 3rem;
    height: 3rem;
    border: 0.13rem solid rgba(255, 255, 255, 0.5);
    border-radius: 0.3rem;
    margin: 0 1rem 0 1rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-plus{
    background-image: url("ico/plus.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
}
.btn-minus{
    background-image: url("ico/minus-button.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
}
.btn-cor{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    color: white;
    margin-top: 0.8vw;
    margin-bottom: 1vw;
}
.btn-cor span{
    font-weight: 400;
    font-size: 1.4rem;
    padding-right: 10%;
}
.btn-cor a{
    display: flex;
    align-items: center;
    height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
    padding: 1.01rem;
}
/*FOOTER*/
footer{
    /*background-color: rgba(101, 20, 27, 0.2);*/
    width: auto;
    /*height: 22vh;*/
    /*display: flex;*/
    flex-shrink: 0;
}
.top-footer-block h5{
    text-align: center;
    font-size: 1.6vmax;
    font-weight: bold;
}
.top-footer-block{
    padding-top: 0.6vh;
}
.top-footer-block h5{
    color: white;
    font-size: 1.4rem;
}
.body-footer-block{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin: 0.4vh 2% 0.4vh 2%;
}
.footer-ico-1{
    background-image: url("ico/youtube.png");
    width: 8vh;
    height: 8vh;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.footer-ico-2{
    background-image: url("ico/facebook.png");
    width: 8vh;
    height: 8vh;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.footer-ico-3{
    background-image: url("ico/telegram.png");
    width: 8vh;
    height: 8vh;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.footer-ico-4{
    background-image: url("ico/twitter.png");
    width: 8vh;
    height: 8vh;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.watermark a{
    font-family: 'Farro', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: whitesmoke;
}
.watermark:hover a{
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0), 0 0 0.5em rgba(255, 255, 255, 0.2), 0 0 0.2em rgba(255, 255, 255, 0);
}
.botton-footer{
    display: flex;
    justify-content: space-around;
}
.botton-footer-block{
    /*height: 4vmax;*/
    /*width: 33.3%;*/
    /*background-color: rgba(0, 0, 0, 0.18);*/
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 0.9rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}
.footer-mail-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-mail-block div a{
    color: white;
}
.footer-mail-block div a:hover{
    color: #3880e5;
}
/*PLAY*/
.block-play{
    display: flex;
}
.text-play h2{
    text-align: center;
}
.text-play p{
    color: #939393;
    line-height: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.inst-1, .inst-2, .inst-3{
    background-color: #334458;
    border-radius: 3rem;
    width: 60%;
    height: auto;
    margin: 2rem 0 2rem 0;
    display: flex;
}
.inst-1, .inst-2, .inst-3 p {
    color: #939393;
    line-height: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.inst-1-1{
    padding: 1.4rem;
}
.btn-downl{
    display: flex;
    justify-content: start;
    width: 100%;
    margin-top: 0.8vw;
    margin-bottom: 1vw;
}
.btn-downl a{
    display: flex;
    align-items: center;
    /*background-color: indianred;*/
    height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
    padding: 1.01rem;
}
.img-4{
    background-image: url("img/man1.png");
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 25rem;
}
.img-5{
    background-image: url("img/mans3.png");
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 25rem;
}

/*MEDIA*/

@media only screen and (max-width: 768px){
    .logotype a div{
        display: none;
    }
    .header{
        justify-content: center;
    }
    .img-4{
        /*height: 40rem;*/
    }
}
@media only screen and (max-width: 576px){
    .header{
        justify-content: space-between;
    }
    .logotype a div{
        display: flex;
    }
    .con-2 div{
        padding: 0;
    }
    .img-1, .img-2, .img-3{
        height: 44vw;
    }
    .imgman2{
        height: 85vw;
    }
    .logotype{
        display: inherit;
    }
    .btn-flex div{
        font-size: 0.8rem;
    }
}

.empty-cart-text {
    background-color: red;
}

.delete-btn {
    width: 200px;
}